* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
h1 {
  margin: 0 0 30px 0;
  font-size: 2.0em;
  font-weight: normal;
}
.custom-container {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(150,150,150,0.2);
  border-radius: 3px;
}